<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>index</title>
</head>
<body>
<ul>
    <li><a href="/">Information</a></li>
    <li><a href=/nutrition>Nutrition Store</a></li>
    <li><a href=/nutritionStore>Trick Center</a></li>
    <li><a href=/nutritionStore>Action History</a></li>
</ul>
    <span>Food</span>
    <select>
        <option th:value="pizza">Pizza</option>
    </select>
    <span>Drink</span>
    <select>
        <option th:value="lemonade">Lemonade</option>
    </select>
    <button type="submit" name="Change"></button>
</body>
</html>