<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head >
    <meta charset="UTF-8">
    <link href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/style.css" rel="stylesheet"/>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
    <title>Todo List</title>
</head>
<body>
    <h1 class="text-center">Todos for today:</h1>
    <form action="/todo/result">
        <input name="searchQuery" type="text">
        <button type="submit" value="Search">Search</button>
    </form>
    <a th:href="@{/todo/}" > List All Todo</a>
    <div class="row justify-content-center">
        <a type="button" class="btn btn-info" th:href="@{/todo/assignee/add}">Add a new assignee</a><br>
    </div>
    <br>

    <table class="table table-bordered table-striped table-dark">
        <tr>
            <th hidden scope="col">ID</th>
            <th scope="col">name</th>
            <th scope="col">email</th>
        </tr>

        <tr th:each=" assignee : ${assignees}" th:if="${assignees}">
            <td hidden th:text="${assignee.id}"></td>
            <td th:text="${assignee.name}"></td>
            <td th:text="${assignee.email}"></td>
            <td >
                <a type="button" class="btn btn-info update-btn" th:href="@{/todo/assignee/{id}/edit(id=${assignee.id})}">Edit</a>
            </td>
            <td>
                <a type="button" class="btn btn-danger delete-btn" th:href="@{/todo/assignee/{id}/delete(id=${assignee.id})}">Delete</a>
            </td>
        </tr>
    </table>

    <form action="/todo/assignee/add" method="POST" th:object="${addAssignee}" th:if="${addAssignee}">
       Name :  <input type="text" th:field="*{name}" ><br>
       Email : <input type="text" th:field="*{email}" ><br>
        <input type="submit" value="Submit">
    </form>

    <script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>
</html>