<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head >
    <meta charset="UTF-8">
    <link href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/style.css" rel="stylesheet"/>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
    <title>Todo List</title>
</head>
<body>
    <h1 class="text-center">Todos for today:</h1>
    <form action="/todo/result">
        <input name="searchQuery" type="text">
        <button type="submit" value="Search">Search</button>
    </form>
    <a th:href="@{/todo/assignee}" > List All Assignees</a>
    <div class="row justify-content-center">
        <a type="button" class="btn btn-info" th:href="@{/todo/add}">Add new todo</a><br>
    </div>
    <br>

    <table class="table table-bordered table-striped table-dark">
        <tr>
            <th hidden scope="col">ID</th>
            <th scope="col">ACTION</th>
            <th scope="col">DONE</th>
            <th scope="col">URGENT</th>
            <th scope="col">Assigned By</th>
        </tr>

        <tr th:each=" todo : ${todos}">
            <td hidden th:text="${todo.id}"></td>
            <td th:text="${todo.title}"></td>
            <td >
                <span th:class="${todo.isDone()} ? 'glyphicon glyphicon-ok' : 'glyphicon glyphicon-remove'"></span>
            </td>
            <td th:class="${todo.isUrgent()} ? 'glyphicon glyphicon-ok' :'glyphicon glyphicon-remove'"></td>
            <td th:text="${todo.assignee.name}"></td>
            <td class="align-middle">
                <a type="button" class="btn btn-danger delete-btn" th:href="@{/todo/{id}/delete(id=${todo.id})}">Delete</a>
            </td>


            <td >
                <a type="button" class="btn btn-info update-btn" th:href="@{/todo/{id}/edit(id=${todo.id})}">Edit</a>
            </td>
        </tr>
    </table>
    </ul>

    <script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>
</html>