<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <header>My Shop</header>
    <div class="nav">
        <a href="/available">Only Available</a>
        <a href="/cheapest">Cheapest First</a>
        <a href="/nike">Contains Nike</a>
        <a href="/avgStock">Average Stock</a>
        <a href="/mostExpensive">Most Expensive Available</a>
    </div>

    <div>
        <p>Search for:</p>
        <form id="tfnewsearch" method="POST" action="/search">
            <input type="text" class="tfextinput" name="q" size="21" max="300"><input type="submit" value="Search" class="tfbutton">
        </form>
    </div>

    <table>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Quantity of stock</th>
        </tr>
    </table>

    <h2  th:text="${text}"></h2>
</body>
</html>


